.leaflet-control-playback{position:relative;background-color:#7cbdf5;padding:10px;}
.leaflet-control-playback .optionsContainer{position:relative;}
.leaflet-control-playback .buttonContainer {}
.leaflet-control-playback .infoContainer {}
.leaflet-control-playback .sliderContainer {}




.leaflet-control-playback .scrollContainer{position:relative;text-align:center;}

.leaflet-control-playback .operateContainer span{font-size:22px;cursor:pointer;margin:0 6px;}
.leaflet-control-playback .scrollContainer .stime{margin-right:12px;}