.leaflet-control-playback{position:relative;background-color:#7cbdf5;padding:10px;}
.leaflet-control-playback .optionsContainer{position:relative;}
.leaflet-control-playback .optionsContainer > div {
    display: inline-block;
}
.leaflet-control-playback .buttonContainer {}
.leaflet-control-playback .buttonContainer  a {
    display: inline-block;
    width: 32px;
    height: 32px;
    text-decoration: none;
}
.leaflet-control-playback .buttonContainer .btn-stop {
    background: url(./images/icon-play.png) no-repeat center;
}
.leaflet-control-playback .buttonContainer .btn-start {
    background: url(./images/icon-stop.png) no-repeat center;
}
.leaflet-control-playback .buttonContainer .btn-restart {
    background: url(./images/icon-restart.png) no-repeat center;
}
.leaflet-control-playback .buttonContainer .btn-slow {
    background: url(./images/icon-slow.png) no-repeat center;
}
.leaflet-control-playback .buttonContainer .btn-quick {
    background:  url(./images/icon-quick.png) no-repeat center;
}
.leaflet-control-playback .buttonContainer .btn-close {
    background: url(./images/icon-close.png)   no-repeat center;
}
.leaflet-control-playback .infoContainer {}
.leaflet-control-playback .sliderContainer {}